

<a class="btn btn-warning" href="<%= new_post_path %>"> Creer un article </a>

<% @posts.each do |post| %>
	<div class="container">
		<div class="col-md-12">
    		<h1><%= post.title %></h1>
    		<p><%= post.content %>.</p>
    		<div>
				<span class="badge"><%= post.created_at %></span>
				<div class="pull-right">
					<span class="label label-default"><%= post.user.email %></span>
					<span class="label label-primary">story</span> 
					<span class="label label-success">blog</span> 
					<span class="label label-info">personal</span>
					<span class="label label-warning">Warning</span>
					<span class="label label-danger">Danger</span>
				</div>         
     		</div>
		</div>
			    <p class="card-index-content">
			      <a href="<%= post_path(post.id) %>" , class="btn btn-primary">Plus d'infos </a>
			    </p>
			    <hr>		
	</div>
<% end %>