<h1> Creer un article</h1> 

<%= simple_form_for @post do |f| %>
  <%= f.input :title, label: "Le titre de l'article", error: 'Un titre est obligatoire' %>
  <%= f.input :content, label: "Contenu de l'article" %>
  <%= f.association :user, as: :hidden, input_html: {value: current_user.id} %>  
  <%= f.button :submit %>
<% end %>