<h2 class="h2-form", style="margin-left:35%;margin-bottom:3%;">Creer un article </h2>
    <%= simple_form_for @post do |f| %>
    <div class="form-create">
      <div class="input-form">
        <%= f.input :title, label: "Le titre de l'article", error: 'Un titre est obligatoire' %>
      </div>
      <div class="input-form">
        <%= f.input :content, label: "Contenu de l'article" %>
      </div>
      <div class="input-form">
        <%= f.association :user, as: :hidden, input_html: {value: current_user.id} %>
      </div>
      <div class="submit-form", style="margin-left:20%;margin-bottom:3%;">
        <%= f.submit "Créer" %>
      </div>
      <% end %>
    </div>


