<nav class="navbar navbar-expand-lg fixed-top nav_style bg-bl">
  <%= image_tag("seven-obi8.png") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-left mt-5 ml-5 pt-3">
      <li class="nav-item active">
        <a class="nav-link " href="<%= root_path %>">Accueil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="<%= posts_path %>">Articles</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= groups_path %>">Groupes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= home_profil_path %>">Profil</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li class="">
        <%= link_to(avatar_for(current_user), size: 10) %>
      </li>
      <%end%>
    </ul>
  </div>
</nav>